<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>
        Strina nie istnieje - TrainingAssistant
    </title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="error-container">
        <h2 class="error-header">
            Strona nie istnieje
        </h2>
        <i class="fa-solid fa-face-frown error-icon"></i>
        <p> Nie możemy znaleźć strony, o którą prosisz</p>
    </div>
</main>
</body>


</html>
