* {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #FF5733;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}
.main-content{
    flex: 1;
}

.fa-dumbbell,
#toggle-icon{
    color: #FF5733;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    width: 100%;
    padding: 16px;
    border-bottom: 1px black solid;
    text-align: center;
    display: none;
}

.expanded> .menu-item{
    display: block;
}

.menu-logo-container, .menu-toggle{
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer{
    padding: 8px;
    text-align: center;
}

@media only screen and(min-width: 992px) {

    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }

    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }

}
.jumbotron{
    background-image: url("../img/jumbotron.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
}
.jumbotron-header{
    font-size: 3rem;
    margin: 1rem;
}
.jumbotron-description{
    font-size: 1.2rem;
}

.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}

.exercise-list {
    list-style-type: none;
}

.exercise-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}

.exercise-list-item-poster {
    display: block;
    max-width: 200px;
}

.exercise-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.exercise-list-item-content > * {
    margin: 8px 0;
}
.exercise-list-item-name {
    font-size: 1.6rem;
}
.exercise-list-item-rating {
    font-size: 1.6rem;
}

.exercise-summary{
    display: flex;
    margin-top: 16px;
}
.exercise-summary-cover{
    object-fit: contain;
    max-width: 200px;
}
.exercise-summary-info{
    margin-left: 16px;
}
.exercise-summary-summary-level-of-advancement{
    color: #9e9e9e;
    margin-bottom: 16px;
}
.exercise-summary-item{
    margin: 8px;
}
.exercise-summary-name{
    font-size: 2rem;
}
.exercise-section-heading{
    margin-bottom: 8px;
}
.exercise-movie{
    display: block;
    margin: auto;
}
.movie-section{
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}

.error-container{
    margin: 32px auto;
}
.error-container> * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon{
    font-size: 2rem;
    margin: 16px;
}
.list-border{
    margin: auto;
    list-style: none;
}
.list-border> li{
    font-size: 1.2rem;
    border: 1px#6d6d6d solid;
    padding: 16px;
    text-align: center;
}
textarea {
    font-family: inherit;
}
.mc-form{
    display: flex;
    flex-direction: column;
    margin: 032px;
}

.mc-form > * {
    margin-top: 8px;
}
.mc-form > input,
.mc-form > textarea,
.mc-form > button {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    background-color: #424242;
}
.mc-form > button {
    margin-top: 16px;
    background-color: #FF5733;
    color: white;
    border: none;
}
.notification-bar {
    text-align: center;
    background-color: #FF5733 ;
    padding: 8px;
}
.mc-form> input,
.mc-form> textarea,
.mc-form> button,
.mc-form> select {
    font-size: 1.2rem;
    color: white;
    padding: 8px;
}
.mc-form> select{
    background-color: #424242;
}

.mc-form> input[type=checkbox]{
    transform: scale(1.5);
    margin-left: 5px;
}
.mc-form> input[type=file]{
    color: white;
}






